.welcome-mssg {
	font-weight: bold;
	color: green;
}

button {
	border: none;
	border-radius: 5px;
	font-family: Arial;
	font-weight: bold;
}

.left-btn {
	background-color: #ff0000;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 8px;
	padding-right: 8px;
}

.scream {
	color: #ff0000;
	font-weight: bold;
	font-family: Arial;
}

p {
	font-family: arial;
}
